@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;

}
ul{
    list-style: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    display: inline-block;
}
:root {}

h1 {
    font-size: 2.5rem;
}

body {
    background-color: rgba(57, 167, 255, 0.9);
    color: white;
}
.visible {
    opacity: 1 !important;
    visibility:visible !important;
}
/*******************************************************************/
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: red; */
}
.top {
    /* background-color: yellow; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.animation {
    /* background-color: green; */
    height: 71vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.bars{
    height: 100%;
    width: 95vw;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    justify-content: center;
    font-size: xx-small;
    font-weight: lighter;
    text-align: center;
}
/****************************************************************************/
nav {
    background-color: rgba(0, 0, 0, 0.4);
    height: 55px;

}
nav>ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
}
/***************************************************************************/
.ham {

    width: 38px;
    height: 5px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: all 2s ease-out;
}
.ham::before,
.ham::after {
    content: '';
    display: block;
    width: 100%;
    /* Set the width to 100% */
    height: 5px;
    /* Set the height */
    background-color: #fff;
    position: absolute;
}
.ham::before {
    top: -10px;
}
.ham::after {
    bottom: -10px;
}
.ham:active {
    transform: scale3d(2, 2, 2);
}
.navigation {
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: fixed;
    height: 85vh;
    top: 55px;
    /* border-bottom: 2px solid white;
    border-right: 2px solid white; */
    box-shadow: 0 0 10px black;

    border-radius: 0% 10% 10% 0% / 10% 0% 14% 10%;
    opacity:0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s ease-out;   
}
.algos{

    display: flex;
    flex-direction: column;
    gap: 20px;
   font-size:x-large;
    padding-top: 20px;

}
.links{
    padding-bottom: 30px;
}
.links>i{
    cursor: pointer;
    transition: all 0.8s ease-out;
}
.links>i:active{
    transform: scale3d(1.2,1.2,1);
}
.algos>li{
    cursor: pointer;
    transition: all 0.8s ease-out;
    z-index: 1;
}
.algos>li:hover{
    transform: scale3d(1.2,1.2,1);
}
.algos>li:active{
    transform: scale3d(1.2,1.2,1);
    color: black;
}
.controls {
    background-color: wheat;
    height: 100px;
    box-shadow: 0 0 10px black;
}
.cont{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    color: #000;
    align-items: center;

}
.algo{
    font-size: xx-large;
    padding-left: 40px;
    
}
.commands{
    display: flex;
    align-items: center;
    gap: 29px;
    padding-right: 20px;
    transition: all 1.2s ease-out;
    transform: scale3d(1.2,1.2,1);
}
.fa-play:active{
    transform: scale3d(1.2,1.2,1);
}
.fa-shuffle:active{
    transform: rotate(-20deg);
}

#label{
    font-weight: bold;
}
.slider{
    display: flex;

}
@media screen and (max-width: 768px){
    nav>ul {
        padding-top: 1.5vh;
        padding-left: 2vw;
        padding-right: 2vw;

    }

    .nav-head {
        font-size: 1.8rem;
    }

    .navigation {
        width: 48vw;
    }
    .algos{
        font-size: large;
    }
    .cont{
        padding-top: 2px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    .bar{
        font-size: xx-small;
        font-weight: 0;
    }
    .slider{
        flex-direction: column;
    }
    .controls{
        height: 118px;
    }
  
}
@media screen and (max-width:440px){
    #label{
        display: none; 
    }
    .bar{
        font-size: xx-small;
        font-weight: 100;
    }
    .cont{
        gap: 12px;
    }
    
}
@media screen and (max-width: 340px) {
    nav {
        height: 95px;
    }

    nav>ul {
        flex-direction: column;

    }

    .ham {
        margin-top: 12px;
    }

    .nav-head {
        margin-top: 20px;
    }

    .navigation {
        top: 95px;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        border: 0px;
    }
    .algos{
        font-size: larger;
    }
    #label{
        display: none; 
    }
    .commands{
        gap: 8px;
        padding-right: 0;
        transform: none;
    }
    .bar{
        font-size: xx-small;
        font-weight: 100;
    }
    .slider{
        flex-direction: column;
    }
    .controls{
        height: 100px;
    }
    .cont{
        gap: 12px;
    }
    
}
.bar{
    /* background-color:rgb(6, 82, 145); */
}